<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= item.type_of %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <a href="<%= item.link_to%>" ><%= item.link_to%></a>
  </p>

</div>
