<!DOCTYPE html>
<html>
  <head>
    <title>Saveapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">

      <div class="container-fluid">
        <a class="navbar-brand">SaveApp</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
            <%= link_to 'Tiktok', tiktok_type_items_path, class: 'nav-link' %>
            <%= link_to 'YouTube', youtube_type_items_path, class: 'nav-link' %>
            <%= link_to 'Movie', movie_type_items_path, class: 'nav-link' %>
            <%= link_to 'Clothes', clothes_type_items_path, class: 'nav-link' %>
            <%= link_to 'Other', other_type_items_path, class: 'nav-link' %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>

</html>
